@using Web.Models
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-xs-12">
        <span>Select your topics:</span>
        <ul class="nav nav-pills" data-bind="foreach: topics">
            <a href="#" data-bind="click: $parent.toggleSubject">
                <span 
                    class="badge" 
                    data-bind="text: label, css: { 'alert-danger': !isActive, 'alert-success': isActive }"></span>
            </a>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="jumbotron">
        <h1 data-bind="text: currentVideo">Hello, world!</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <ul data-bind="foreach: nextVideos">
            <li>
                <div class="panel panel-default">
                    <a href="#" data-bind="text: title, events: {click: 'alert()'}"></a> - <a href="//youtube.com/channel/" data-bind="text: channel"></a>
                </div>
            </li>
        </ul>
    </div>
</div>