@using Web.Models
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-xs-12">
        <span>Select your topics:</span>
        <ul class="nav nav-pills" data-bind="foreach: topics">
            <a href="#" data-bind="click: $parent.toggleSubject">
                <span 
                    class="badge" 
                    data-bind="text: label, css: { 'alert-danger': !isActive, 'alert-success': isActive }"></span>
            </a>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="jumbotron">
        <iframe data-bind="attr: {src: iframeUrl}" id="ytplayer" type="text/html" width="640" height="360"
                frameborder="0"></iframe>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <ul data-bind="foreach: nextVideos" class="list-inline">
            <li class="list-inline-item">
                <div class="panel panel-default">
                    <img data-bind="attr: {src: thumbnail(id)}"></img>
                    <a href="#"><p data-bind="text: title, click: $parent.clickOnNextVideo"></p></a>
                    <a><p href="//youtube.com/channel/" data-bind="text: channel"></p></a>
                </div>
            </li>
        </ul>
    </div>
</div>