@using Web.Models
@model System.Collections.Generic.IEnumerable<Video>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-xs-12">
        <ul class="nav nav-pills">
            <span>Select your topics:</span>
            <a href="#"><span class="badge alt">Crypto</span></a>
            <a href="#"><span class="badge">Space</span></a>
            <a href="#"><span class="badge">Psychology</span></a>
            <a href="#">Maths</a>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="jumbotron">
        <h1>Hello, world!</h1>
        </div>
    </div>
</div>
